certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2              
colorama==0.4.4           
Flask==2.0.1              
Flask-Login==0.5.0        
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.0.1
MarkupSafe==2.1.1
Pillow==9.1.0
pygame==2.1.2
pygame-gui==0.6.4
python-i18n==0.3.9
requests==2.27.1
SQLAlchemy==1.4.31
urllib3==1.26.9
Werkzeug==2.0.1
WTForms==3.0.1
yandex-api==1.0.2
