<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Fire Map</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a href="/" class="navbar-brand"><h4>Fire Map</h4></a>

            {% if current_user.is_authenticated %}
                <div><a class="navbar-brand alert-primary alert pb-1 pt-1" href="/logout">{{ current_user.login }}</a>
                    <a href="/register" class="mb-1 btn btn-secondary">Добавить пользователя</a></div>

            {% else %}
                <p>
                    <a class="btn btn-success" href="/login">Войти</a>
                </p>
            {% endif %}
        </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>