{% extends "base.html" %}

{% block content %}

<div>
    <h1 style="text-align:center">Изменить должность участника</h1>
</div>

{% for user in users%}
<div class="col-md6 border rounded m-5 p-2" role="alert">

      <h2> <strong>{{user.fio}}</strong></h2>
          <div class=" alert alert-dark p-3">
         <h4>{{user.position_name}}</h4>

        {% if current_user == admin %}
        <a href="/user/{{ user.id }}" class="btn btn-warning">
            Изменить
        </a>
              </div>
{% endif %}
    </div>
<!--    <div>-->
<!--         <h2> <strong>{{user.fio}}</strong>-->
<!--             <h4>{{user.position_name}}</h4>-->
<!--         </h2>-->
<!--    </div>-->
<!--    <div>-->
<!--        <select class="custom-select">-->
<!--          <option selected>Сержант</option>-->
<!--          <option value="1">Лейтинант</option>-->
<!--          <option value="2">Капитан</option>-->
<!--        </select>-->
<!--    </div>-->

<!--</div>-->

{% endfor %}

{% endblock %}